.delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @secondary-background;
  padding: 100px;
  &__title {
    .title-font(500, italic, 48px);
    margin: 5px;
    align-items: center;
    span {
      .title-font(500, normal, 48px);
    }
  }
  &__description {
    width: 564px;
    line-height: 24px;
    text-align: center;
    .text-font(300, 16px);
  }
  &__image {
    width: 360px;
    height: 214px;
  }
  &__options {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }
  &__option {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 15px;
  }
  &__couriers-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .text-font(600, 10px);
    p {
      padding: 0 8px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
    }
  }
  &__courier-inpost {
    background-color: @courier-bg-color-yellow;
    color: @courier-text-color-black;
  }
  &__courier-dhl {
    background-color: @courier-bg-color-yellow;
    color: @courier-text-color-red;
  }
  &__courier-dpd {
    background-color: @courier-bg-color-pink;
    color: @courier-text-color-white;
  }
  &__courier-pocztex {
    background-color: @courier-bg-color-pink;
    color: @courier-text-color-white;
  }
  &__courier-deligoo {
    background-color: @courier-bg-color-blue;
    color: @courier-text-color-white;
  }
  &__courier-xpress {
    background-color: @courier-bg-color-black;
    color: @courier-text-color-white;
  }
  @media @tablet {
    &__title {
      .title-font(500, italic, 48px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(500,normal,48px);
      }
    }
    &__options {
      text-align: center;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-container {
        z-index: 10;
        gap: 20px;
      }
    }
    &__image {
      position: absolute;
      bottom: 0px;
      opacity: 0.2;
      top: 10px;
      width: 600px;
      height: 600px;
    }
    &__option {
      align-items: center;
      flex-direction: column;
      gap: 0;
      padding: 10px 0;
      &-image {
        display: none;
      }
      &-text {
        margin: 0;
      }
    }
  }
  @media @phone {
    padding: 100px 20px;
    &__title {
      .title-font(500, italic, 38px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(500,normal,38px);
      }
    }
    &__description {
      width: 320px;
    }
    &__options {
      text-align: center;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-container {
        z-index: 10;
        gap: 20px;
      }
    }
    &__image {
      position: absolute;
      bottom: 0px;
      opacity: 0.2;
    }
    &__option {
      align-items: center;
      flex-direction: column;
      gap: 0;
      padding: 10px 0;
      &-image {
        display: none;
      }
      &-text {
        margin: 0;
      }
    }
  }
}
