.domestic-shipments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 100px;
  &__title {
    .title-font(500, normal, 48px);
    align-items: center;
    span {
      .title-font(500, italic, 48px);
    }
  }
  &__shipment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 96px;
    height: 250px;
    &-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0px 0px 0px 32px;
      width: 496px;
      height: 149px;
    }
    &-title {
      .title-font(700, normal, 32px);
      margin: 10px;
    }
    &-description {
      .text-font(300, 16px);
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  @media @tablet {
    padding: 100px 20px;
    &__title {
      .title-font(300, italic-light, 48px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(700,normal,48px);
      }
    }
    &__shipment {
      text-align: center;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-image {
        position: absolute;
        opacity: 0.2;
      }
      &-info-container {
        z-index: 1;
        padding: 0;
      }
      &-title {
        text-align: center;
      }
      &-info-container {
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media @phone {
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
    &__title {
      text-align: left;
      .title-font(300, italic, 38px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(700,normal,38px);
      }
    }
    &__shipment {
      text-align: center;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-image {
        position: absolute;
        opacity: 0.2;
      }
      &-info-container {
        z-index: 1;
        width: 320px;
        padding: 0;
      }
      &-title {
        text-align: center;
        width: 320px;
      }
    }
  }
}
