.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  gap: 15px;

  &__left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 569px;
    position: relative;
  }

  &__subtitle {
    .title-font(300, normal,13px);
    line-height: 13px;
    text-transform: uppercase;
    width: 83px;
    height: 13px;
    color: #666666;
  }

  &__title {
    .title-font(300, italic-light, 68px);
    line-height: 75px;
    letter-spacing: -0.035em;
    margin: 0px; //xxx
    span {
      .title-font(700,normal,68px);
    }
  }
  &__description {
    line-height: 27px;
    font-size: 20px;
  }
  &__button {
    color: #ffffff;
    .button();
  }
  &__image {
    width: 423px;
    height: 352px;
  }
  &__marker {
    position: absolute;
    left: 0px;
    top: 176px;
    z-index: -1;
  }
  @media @tablet {
    padding: 10px;
    &__image {
      display: none;
    }
    &__subtitle {
      display: none;
    }
  }
  @media @phone {
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
    &__left-container {
      justify-content: center;
      align-items: center;
    }
    &__image {
      display: none;
    }
    &__subtitle {
      display: none;
    }
    &__title {
      text-align: left;
      .title-font(300, italic-light, 48px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(700,normal,48px);
      }
    }
    &__marker {
      display: none;
    }
    &__description {
      text-align: center;
    }
  }
}
