.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 100px;
  gap: 32px;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 101px;
    height: 48px;
  }

  &__logo {
    width: 230.57px;
    height: 48px;
  }
}
