.send {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
  background-color: @secondary-background;
  margin-top: 100px;
  padding-bottom: 100px;
  &__image {
    position: relative;
    top: -60px;
  }
  &__title {
    .title-font(500,normal,48px);
    text-align: left;
    max-width: 664px;
    margin: 5px;
    span {
      .title-font(500,italic,48px);
    }
  }
  &__description {
    .text-font(300,16px);
    text-align: left;
  }
  &__button {
    .button(@button-bg-color-yellow, @button-border-color-yellow);
  }
  @media @tablet {
    padding: 200px 20px;
    position: relative;
    &__title {
      width: auto;
      .title-font(500, italic, 38px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(500,normal,38px);
      }
    }
    &__right-container {
      display: flex;
      flex-direction: column;
      z-index: 1;
      justify-content: center;
      align-items: center;
    }
    &__image {
      position: absolute;
      opacity: 0.2;
      top: 0;
    }
    &__description {
      text-align: center;
    }
  }
  @media @phone {
    padding: 20px;
    position: relative;
    &__image {
      position: absolute;
      opacity: 0.2;
      top: 0;
    }
    &__title {
      width: auto;
      .title-font(500, italic, 38px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(500,normal,38px);
      }
    }
    &__description {
      max-width: 320px;
      margin: 60px;
      text-align: center;
    }
    &__right-container {
      display: flex;
      flex-direction: column;
      z-index: 1;
      justify-content: center;
      align-items: center;
    }
  }
}
