.shipping-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @secondary-background;
  padding: 100px;
  &__title {
    margin: 5px;
    align-items: center;
    .title-font(500, normal, 48px);
    span {
      .title-font(500, italic, 48px);
    }
  }
  &__description {
    .text-font(300, 16px);
    line-height: 24px;
    max-width: 564px;
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    &-upper,
    &-lower {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
      padding: 0px 100px;
      gap: 100px;
    }
    &-lower {
      justify-content: center;
    }
  }
  &__tool {
    &-image {
      width: 230px;
      height: 158px;
    }
  }
  @media @tablet {
    padding: 100px 20px;
    &__title {
      .title-font(500, italic, 48px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(500,normal,48px);
      }
    }
    &__container {
      max-width: 300px;
      gap: 10px;
      &-upper {
        gap: 5px;
        padding: 0px;
      }
      &-lower {
        gap: 30px;
        padding: 0px;
      }
    }
    &__tool {
      &-image {
        width: fit-content;
      }
    }
  }
  @media @phone {
    padding: 20px;
    &__title {
      text-align: left;
      .title-font(500, italic, 38px);
      line-height: 48px;
      text-align: center;
      span {
        .title-font(500,normal,38px);
      }
    }
    &__description {
      width: 320px;
    }
    &__container {
      width: 340px;

      &-upper {
        gap: 10px;
        padding: 0px;
      }
      &-lower {
        gap: 30px;
        padding: 0px;
      }
    }
    &__tool {
      width: 150px;
      &-image {
        width: 80px;
        height: 80px;
      }
      &-content {
        width: auto;
        margin: 0px;
      }
    }
  }
}
