@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,500&display=swap");
@import "./variables.less";
@import "./mixins.less";
@import "./blocks/menu.less";
@import "./blocks/header.less";
@import "./blocks/promotion.less";
@import "./blocks/domestic-shipments.less";
@import "./blocks/shipping-tools.less";
@import "./blocks/delivery.less";
@import "./blocks/partners.less";

// * {
//   outline: 1px solid red;
// }

:root {
  .text-font();
  color: #1a3344;
  display: flex;
  flex-direction: column;
  //   align-items: flex-start;
  padding: 0px;
}
