@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCp6KVjbNBYlgoKejYHtGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
* {
  outline: 1px solid red;
}
#root {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #1a3344;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  gap: 32px;
}
.menu__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 101px;
  width: 1240px;
  height: 48px;
}
.menu__logo {
  width: 230.57px;
  height: 48px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  gap: 15px;
  width: 1440px;
}
.header__left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 569px;
}
.header__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  width: 83px;
  height: 13px;
  color: #666666;
}
.header__title {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 68px;
  line-height: 75px;
  letter-spacing: -0.035em;
  margin: 0px;
}
.header__title span {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
}
.header__description {
  line-height: 27px;
  font-size: 20px;
}
.header__button {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  background: #0f92d4;
  border: 1.5px solid #1a3344;
  box-shadow: 2px 2px 0px #1a3344;
  border-radius: 4px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
}
.header__image {
  width: 423px;
  height: 352px;
}
.promotion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  gap: 15px;
  width: 1440px;
  background-color: #f6fbff;
}
.promotion__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 1440px;
}
.promotion__title {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
  line-height: 110%;
}
.promotion__title span {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
}
.promotion__description {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  width: 564px;
}
